img {
    width: 320px;
    height: 320px;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    max-width: 350px;
    background-color: var(--Card-BG);
}