img {
    width: 320px;
    height: 320px;
    border-radius: 10px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--Card-BG);
}